{% extends "base.html" %}

{% block content %}


		<div>
			<h2>Add Item</h2>

			<form action="#" method="post" class="edit_item">
				<fieldset>
					<div>
					<label>Name:</label>
					<p><input type="text" name="name"></p>
					</div>
					<div>
					<label>Description:</label>
					<p><textarea name="description" id="" cols="30" rows="10"></textarea></p>
					</div>
					<div>
					<label>Category:</label>
					<p><select name="category">
						{% for category in categories %}
							<option value="{{category.id}}">{{category.name}}</option>
						{% endfor %}
					</select></p>
					</div>
				<input type="submit" value="Add Item">
				</fieldset>

			</form>
		</div>


{% endblock %}
