{% extends "base.html" %}

{% block content %}

<table class="main">
	<tr>
		<th>Categories</th>
		<th><span>{{categoryName}}<span class="item__type"> ({{categoryItemsCount}} Items)</span></span></th>
	</tr>
	<tr>
		<td>
			<ul>
				{% for category in categories %}
					<a href="{{url_for('showCategory', catalog_id = category.id )}}">
						<li class="items__item">
							<span>{{category.name}}</span>
						</li>
					</a>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for categoryItem in categoryItems %}
					<a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
						<li class="items__item">
							<span>{{categoryItem.name}}</span>
						</li>
					</a>
				{% endfor %}
			</ul>
			<!-- <a href="/" class="button u list__add">Add Item</a> -->
		</td>
	</tr>
</table>



{% endblock %}
